public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
engine-strict=true
package-manager-strict-version=true
manage-package-manager-versions=true
auto-install-peers=false