{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^rechart(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/auth/(.*)$",
    "^@/config/(.*)$",
    "^@/app/lib/(.*)$",
    "^@/app/ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
