@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
    /* slashed-zero tabular-nums */
  }
}

@layer utilities {
  /* Inside this, we can't use @apply directive because it creates a circular dependency. */
  .text-balance {
    text-wrap: balance;
  }
}

img {
  -webkit-touch-callout: none; /* Disables long press menu on iOS. */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply m-0 appearance-none;
}

#sidebar-toggle:checked ~ .flex > .fixed-no-scroll {
  @apply absolute z-10 block w-full;
}

#sidebar-toggle:checked ~ .flex > .content-wrapper {
  @apply translate-y-[10%] transform-gpu blur-3xl transition duration-300 ease-out-cubic md:blur-none;
}

#sidebar-toggle:not(:checked) ~ .flex > .content-wrapper {
  @apply translate-y-0 transform-gpu blur-none transition duration-300 ease-out-cubic;
}

.hamburger-menu {
  @apply relative flex h-[10px] w-[24px] cursor-pointer flex-col items-center justify-between;
}

.hamburger-bar {
  @apply h-[2px] w-4 transform-gpu rounded-medium bg-foreground transition duration-300 ease-out-cubic;
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar1 {
  transform: rotate(-45deg) translate(-3px, 3px);
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar2 {
  transform: rotate(45deg) translate(-2.65px, -2.65px);
}

.highlight-text {
  @apply rounded-md p-0.5;
}

/* Emoji Picker START */
.epr-main {
  @apply !rounded-medium !rounded-tl-none !rounded-tr-none !border-0 !bg-content1;
  * {
    @apply !font-fracktif !text-default-500;
  }
}

.epr-search-container {
  @apply -mx-0.5 md:mx-1.5;
}

.epr-icn-search {
  @apply hidden;
}

.epr-search-container button {
  @apply hidden;
}

.epr-search-container input {
  @apply rounded-medium border-transparent bg-content2 px-3 text-foreground;
}

.epr-search-container input::placeholder {
  @apply text-default-500;
}

.epr-search-container input:hover {
  @apply bg-default-200;
}

.epr-search-container input:focus {
  @apply border-transparent;
}

.epr-category-nav {
  @apply !-mt-4;
}

.epr-category-nav button {
  @apply !brightness-[120%];
}

.epr-emoji-category-label {
  @apply !px-2 md:!px-4;
}

.epr-body + div {
  @apply px-2 md:px-3;
}

.epr-skin-tones {
  @apply !border-none;
}
/* Emoji Picker END */

/* Check if View Transitions API browser support. */
/* @supports (view-transition-name: figure-caption) {
} */
