@import 'tailwindcss';

/* @plugin '../hero.ts'; */

/* Note: You may need to change the path to fit your project structure */
/* @source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}'; */

/* @custom-variant dark (&:is(.dark *)); */
@config "../tailwind.config.ts";

/* @theme {
  --ease-*: initial;
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --font-inter: var(--font-inter);
  --font-fracktif: var(--font-fracktif);

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;

  --color-light: #f9f9f9;
  --color-dark: #080808;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
  --color-ai: #62a4fa;

  --shadow-inset-line-light: inset 0 -1px 0 0 #f9f9f9;
  --shadow-inset-line-dark: inset 0 -1px 0 0 #080808;

  --animate-blink-light-once: blink-light 0.8s linear;
  --animate-blink-dark-once: blink-dark 0.8s linear;
  --animate-pulse-fast: 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite pulse;
  --animate-transform-scale: transform-scale 1s infinite;

  --background-image-logo-gradient: linear-gradient(
    to bottom,
    #17c964,
    #f31260
  );
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-ai-gradient: linear-gradient(
    to right,
    #61a5fa,
    #c084fc,
    #f87171
  );

  --drop-shadow-ai: 0 0 1px #62a4fa;

  @keyframes blink-light {
    0% {
      filter: brightness(0.8);
    }
    100% {
      filter: brightness(1);
    }
  }
  @keyframes blink-dark {
    0% {
      filter: brightness(1.6);
    }
    100% {
      filter: brightness(1);
    }
  }
  @keyframes transform-scale {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }
} */

@utility text-balance {
  /* Inside this, we can't use @apply directive because it creates a circular dependency. */
  text-wrap: balance;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    @apply scroll-smooth;
  }
}

@layer base {
  * {
    @apply scroll-smooth;
    /* slashed-zero tabular-nums */
  }
}

img {
  -webkit-touch-callout: none; /* Disables long press menu on iOS. */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply m-0 appearance-none;
}

#sidebar-toggle:checked ~ .flex > .fixed-no-scroll {
  @apply absolute z-10 block w-full;
}

#sidebar-toggle:checked ~ .flex > .content-wrapper {
  @apply ease-out-cubic translate-y-[10%] transform-gpu blur-3xl transition duration-300 md:blur-none;
}

#sidebar-toggle:not(:checked) ~ .flex > .content-wrapper {
  @apply ease-out-cubic translate-y-0 transform-gpu blur-none transition duration-300;
}

.hamburger-menu {
  @apply relative flex h-[10px] w-[24px] cursor-pointer flex-col items-center justify-between;
}

.hamburger-bar {
  @apply rounded-medium bg-foreground ease-out-cubic h-[2px] w-4 transform-gpu transition duration-300;
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar1 {
  transform: rotate(-45deg) translate(-3px, 3px);
}

#sidebar-toggle:checked ~ .label > .hamburger-menu .bar2 {
  transform: rotate(45deg) translate(-2.65px, -2.65px);
}

.highlight-text {
  @apply rounded-md p-0.5;
}

/* Emoji Picker START */
.epr-main {
  @apply rounded-medium! bg-content1! rounded-tl-none! rounded-tr-none! border-0!;
  * {
    @apply font-fracktif! text-default-500!;
  }
}

.epr-search-container {
  @apply -mx-0.5 md:mx-1.5;
}

.epr-icn-search {
  @apply hidden;
}

.epr-search-container button {
  @apply hidden;
}

.epr-search-container input {
  @apply rounded-medium bg-content2 text-foreground border-transparent px-3;
}

.epr-search-container input::placeholder {
  @apply text-default-500;
}

.epr-search-container input:hover {
  @apply bg-default-200;
}

.epr-search-container input:focus {
  @apply border-transparent;
}

.epr-category-nav {
  @apply -mt-4!;
}

.epr-category-nav button {
  @apply brightness-120!;
}

.epr-emoji-category-label {
  @apply px-2! md:px-4!;
}

.epr-body + div {
  @apply px-2 md:px-3;
}

.epr-skin-tones {
  @apply border-none!;
}
/* Emoji Picker END */

.salary-calendar-day {
  @apply text-success!;
}

/* Check if View Transitions API browser support. */
/* @supports (view-transition-name: figure-caption) {
} */
